p {
  color: turquoise;
  font-size: 18px;
  margin-left: 20px;
  text-align: center;

}

#name {
  color: green;
  font-size: 24px;
  font-family: cursive;
  text-align: center;
}

#quote {
  color: black;
  font-size: 30px;
  text-align: center;
  font-family: cursive;
}

#quote2 {
  color: black;
  font-size: 30px;
  text-align: center;
  font-family: cursive;

}

#intro {
  color: turquoise;
  font-size: 20px;
  margin-left: 40px;
  text-align: left;
  margin-right: 40px:
}

#aboutme {
  color: orange;
  font-size: 24px;
  margin-left: 20px;
  text-align: left;
}

#likes {
  color: orange;
  font-size: 24px;
  margin-left: 20px;
  text-align: left;
}

#likes2 {
  color: turquoise;
  font-size: 20px;
  margin-left: 40px;
  text-align: left;
  margin-right: 40px:
}

#dislikes {
  color: orange;
  font-size: 24px;
  margin-left: 20px;
  text-align: left;
}

#dislikes2 {
  color: turquoise;
  font-size: 20px;
  margin-left: 40px;
  text-align: left;
  margin-right: 40px:
}

#followMe {
  color: orange;
  font-size: 24px;
  margin-left: 20px;
  text-align: left;
}

#heading {
  color: Magenta;
  font-size: 28px;
  margin-left: 20px;
  text-align: left;
}

.column {
  float: left;
  width: 5%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#catpic {
  transform: rotate(90deg);
    text-align: right;
}

body {
  background-image: linear-gradient(turquoise, lightgreen, white);
}
